/* https://www.fontsquirrel.com/fonts/cowboy-hippie-pro */
@font-face {
  font-family: "Cowboy Hippie Pro";
  src: url("../font/Cowboy_Hippie_Pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #6D6875;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: medium;
}

a {
  color: #E5989B;
  text-decoration: none;
}
a:visited {
  color: #E5989B;
}
a:hover {
  color: #FFB4A2;
}
a:active {
  color: #FFCDB1;
}

.grid {
  display: grid;
  grid-template-columns: 525px auto;
  height: 100vh;
}

.left-half,
.right-half {
  position: relative;
}

.left-half {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.left-half > p {
  font-weight: bold;
  font-size: 0.8rem;
  color: #FFCDB1;
  background-color: rgba(109, 104, 117, 0.6);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.logo {
  background-color: rgba(109, 104, 117, 0.6);
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1 {
  padding-left: 10px;
  display: inline-block;
  font-family: "cowboy Hippie Pro", sans-serif;
  color: #FFCDB1;
  font-size: 50px;
}

.right-half {
  background-color: #FFCDB1;
  color: #6D6875;
  box-shadow: inset 3px 0 3px -2px rgba(181, 131, 141, 0.5);
}

.form-descriptor {
  margin: 150px 125px 75px 50px;
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: -1px;
}

.form-background {
  background-color: #B5838D;
  color: #FFCDB1;
  margin-bottom: 30px;
  padding: 20px 0 0 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: start;
  box-shadow: 0 4px 4px 0 rgba(181, 131, 141, 0.5), 0 -3px 3px -2px rgba(181, 131, 141, 0.5);
}
.form-background > h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 20px;
  font-weight: bold;
}
.form-background label, .form-background input {
  display: block;
}
.form-background label {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.form-background input {
  width: 250px;
  height: 32px;
  padding: 0.5rem;
  background-color: #FFCDB1;
  color: #6D6875;
  border: 1px solid #E5989B;
  border-radius: 4px;
}
.form-background input:focus {
  outline: 2px solid #FFB4A2;
  box-shadow: 3px 3px 3px 2px rgba(109, 104, 117, 0.5);
}
.form-background .input-label {
  margin-bottom: 24px;
  margin-right: 80px;
}

/*# sourceMappingURL=styles.css.map */
