/* https://www.fontsquirrel.com/fonts/cowboy-hippie-pro */
@font-face {
    font-family: 'Cowboy Hippie Pro';
    src: url('../font/Cowboy_Hippie_Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$color-1: #FFCDB1;
$color-2: #FFB4A2;
$color-3: #E5989B;
$color-4: #B5838D;
$color-5: #6D6875;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-5;
  color: $color-1;
  font-family: 'Work Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a {
  color: $color-3;
  text-decoration: none;

  &:visited {
    color: $color-3;
  }

  &:hover {
    color: $color-2;
  }

  &:active {
    color: $color-1;
  }
}

.grid {
  display: grid;
  grid-template-columns: 525px auto;
  height: 100vh;
}

.left-half,
.right-half {
  position: relative;
}

.left-half{
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  > p {
    font-weight: bold;
    font-size: 0.8rem;
    color: $color-1;
    background-color: rgba($color-5, 0.6);
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
}

.logo {
  background-color: rgba($color-5, 0.6);
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    padding-left: 10px;
    display: inline-block;
    font-family: 'cowboy Hippie Pro', sans-serif;
    color: $color-1;
    font-size: 50px;
  }
}

.form-descriptor {
  margin: 175px 125px 75px 50px;
  font-size: 1.5rem;
  line-height: 1;
}
