/* https://www.fontsquirrel.com/fonts/cowboy-hippie-pro */
@font-face {
    font-family: 'Cowboy Hippie Pro';
    src: url('Cowboy_Hippie_Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

